body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  header {
    background-color: #2C3E50;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  .logo img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }

  /*--------------------------- Navigation styling------------------------------------- */
  
  
  
   nav {
    display: flex;
  }

  nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
  }

  nav a:hover {
    background-color: #34495E;
  }

  .dropdown {
    position: relative;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2C3E50;
    min-width: 160px;
    z-index: 1; 
  }

  .dropdown-content a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #1ABC9C;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  
